@tailwind base;
@tailwind components;
@tailwind utilities;

.phone-input-custom input {
    width: 100%;
    padding: 1rem;
    border: 2px solid rgba(18, 17, 94, 0.2);
    border-radius: 0.75rem;
    font-size: 1rem;
    transition: all 0.3s;
  }

  .phone-input-custom input:focus {
    border-color: #12115e;
    outline: none;
    box-shadow: 0 0 0 2px rgba(18, 17, 94, 0.3);
  }

  .react-phone-number-input__country-select {
    padding-left: 1rem;
  }
  .service-item {
    opacity: 0;
    transform: translateY(20px); /* Start slightly below */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  
  .service-item.fade-in {
    opacity: 1;
    transform: translateY(0); /* Move to its original position */
  }